---
layout: page
title: Le Blog
tagline:
---
{% for post in site.posts limit:10%}
  <div class="row">
    <div class="date span2"><span><i class="icon-time"></i>{{ post.date | date:"%Y-%m-%d" }}</span></div>
    <div class="span4">
      {% unless post.tags == empty %}
      <ul class="tag_box inline">
        {% assign tags_list = post.tags %}
        {% include JB/tags_list %}
      </ul>
      {% endunless %}
    </div>
    <div class="span2 comments-heading"><span><i class="icon-comment"></i><a href="{{post.url}}/#disqus_thread">Commentaires</a></span></div>
  </div>
  <div class="row">
    <div class="span10 post-title">
        <h1><a title="Lien permanent vers {{ post.title }}" href="{{post.url}}/">{{ post.title }}</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="span8 post-wrapper">
      <div class="post-content">{{ post.content }}</div>
    </div>
    <div class="span2">
      <br/>
      <div class="authors">
        {% for auth in post.author %}
        {% assign author = site.authors[auth] %}
        <p>
          <img class="img-circle" alt="" style="width:60px" src="http://en.gravatar.com/avatar/{{author.gravatar}}&amp;size=60">
        </p>
        <h4>{{author.name}}</h4>
        <ul class="nav nav-list">
          <li><a href="http://www.github.com/{{author.github}}">Github</a></li>
          <li><a href="http://www.twitter.com/{{author.twitter}}">Twitter</a></li>
        </ul>
        {% endfor %}
      </div>
      <br/>
      <div id="promotion" class="training-dates">
        {% include ninjasquad/promotion %}
      </div>
      <br/>
      <div class="pages">
        <h4>Navigation</h4>
        <ul class="nav nav-list">
          {% assign pages_list = site.pages %}
          {% assign group = 'navigation' %}
          {% include JB/pages_list %}
        </ul>
      </div>
      <br/>
      <div class="training-dates">
        {% include ninjasquad/trainings %}
      </div>
      <br/>
      <div class="training-dates">
        {% include ninjasquad/followus %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span8 social-buttons">
      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{{post.title}}" data-url="{{site.production_url}}{{post.url}}/" data-lang="fr">Tweeter</a>
      <div class="g-plusone" data-href="{{site.production_url}}{{post.url}}"></div>
    </div>
  </div>
  <div class="row">
    <div class="span10">
      <hr/>
    </div>
  </div>
{% endfor %}

<p>
  <a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Posts plus anciens</a>
</p>

<script>
  {% if site.safe == false %}var disqus_developer = 1;{% endif %}
  var disqus_shortname = '{{ site.JB.comments.disqus.short_name }}';
  var disqus_url = '{{site.production_url}}{{page.url}}/';
  {% if page.wordpress_id %}var disqus_identifier = '{{page.wordpress_id}} {{site.production_url}}/?p={{page.wordpress_id}}';{% endif %}
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
     var s = document.createElement('script'); s.async = true;
     s.type = 'text/javascript';
     s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
     (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
   }());
</script>
