<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Ninja Squad - {{ page.title }}</title>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }}">
{% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta name="twitter:description" content="{{ page.description }}">
{% endif %}
{% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
{% endif %}
    <meta name="author" content="Ninja Squad">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="publisher" href="https://plus.google.com/{{site.gplus}}">
    <meta name="twitter:site" content="@{{ site.twitter }}">
{% for auth in page.author %}
  {% assign author = site.authors[auth] %}
    <link rel="author" href="https://plus.google.com/{{author.gplus}}" />
    <meta name="twitter:creator" content="@{{ author.twitter }}">
{% endfor %}


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/prettify.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/ninja-main.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/bootstrap/css/responsive.min.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/images/favicon.png">
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/apple-touch-icon-114x114.png">
  
    <script src="{{ ASSET_PATH }}/js/jquery-1.7.2.min.js"></script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar icon-white"></span>
              <span class="icon-bar icon-white"></span>
              <span class="icon-bar icon-white"></span>
          </a>
          <a class="brand" href="http://ninja-squad.com"><img alt="Ninja Squad" title="Logo Ninja Squad" src="/assets/images/logo-head.png" /></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/"><i class="icon-book icon-white"></i>Blog</a></li>  
              <li><a href="http://ninja-squad.com/work"><i class="icon-bullhorn icon-white"></i>Notre métier</a></li>
              <li><a href="http://ninja-squad.com/team"><i class="icon-user icon-white"></i>Notre équipe</a></li>
              <li><a href="http://ninja-squad.com/projects"><i class="icon-folder-open icon-white"></i>Nos projets</a></li>
              <li><a href="http://ninja-squad.com/training"><i class="icon-briefcase icon-white"></i>Formation</a></li>
              <li><a href="http://ninja-squad.com/contact"><i class="icon-envelope icon-white"></i>Contact</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="/atom.xml"><i id="atom-feed" class="icon-"></i>Atom feed</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="container">
      <div class="row">
        <div class="span1"></div>
        <div class="span10">
          <div class="content">{{ content }}</div>
        </div>
        <div class="span1"></div>
      </div>
      <footer>
        <p>&copy; {{ site.title }} 2012 
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>
    </div> <!-- /container -->

    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/prettify.js"></script>
    <script>
      $(document).ready(function() {
        $("pre:not(.raw)").addClass("prettyprint");
        prettyPrint();
      });
      
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      
      window.___gcfg = {lang: 'fr'};
      (function() {
        var po = document.createElement('script'); 
        po.type = 'text/javascript'; 
        po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; 
        s.parentNode.insertBefore(po, s);
      })();
	</script>
    {% include JB/analytics %}
  </body>
</html>