<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>
<div class="row">
  <div class="date span2"><span><i class="icon-time"></i>{{ page.date | date:"%Y-%m-%d" }}</span></div>
  <div class="span4">
  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
  <div class="span2 comments-heading"><span><i class="icon-comment"></i><a href="#disqus_thread">Commentaires</a></span></div>
</div>
<br/>
<div class="row">
  <div class="span8" style="text-align: justify">
    {{ content }}
    <hr/>
  </div>
  <div class="span2">
    <br/>
    <div class="authors">
      {% for auth in page.author %}
      {% assign author = site.authors[auth] %}
      <p>
        <img class="img-circle" alt="" style="width:60px" src="http://en.gravatar.com/avatar/{{author.gravatar}}&amp;size=60">
      </p>
      <h4>{{author.name}}</h4>
      <ul class="nav nav-list">
        <li><a href="http://www.github.com/{{author.github}}">Github</a></li>
        <li><a href="http://www.twitter.com/{{author.twitter}}">Twitter</a></li>
      </ul>
      {% endfor %}
    </div>
    <br/>
    <div class="pages">
      <ul class="nav nav-list">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
      </ul>
    </div>
  </div> 
</div>
<div class="row">
  <div class="span4">
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Précédent</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Précédent</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Suivant &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Suivant &rarr;</a>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="span4 social-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="{{page.title}}" data-url="{{site.production_url}}{{page.url}}" data-lang="fr">Tweeter</a>
      <div class="g-plusone" data-href="{{site.production_url}}{{page.url}}"></div>
  </div>
</div>
<div class="row">
  <div class="span8">
    <hr/>
    {% include JB/comments %}
  </div>
</div>
